@model List<BasketVM>


<div class="cart-total">
    <span class="text-number">
        @Model.Count
    </span>
    <span class="text-item">
        Shopping Cart
    </span>
    <span class="price">
        £ @(Model.Sum(prop => prop.Count * prop.BookPrice))
        <i class="fas fa-chevron-down"></i>
    </span>
</div>
<div class="cart-dropdown-block">

@if (Model.Count > 0)
{
    @foreach (var product in Model)
    {



        <div class=" single-cart-block ">
            <div class="cart-product">
                <a href="product-details.html" class="image">
                    <img src="~/image/products/@product.MainImage" alt="">
                </a>
                <div class="content">
                    <h3 class="title">
                        <a href="product-details.html">
                            @product.Name
                        </a>
                    </h3>
                    <p class="price"><span class="qty">@product.Count ×</span> £ @product.BookPrice</p>
                    <button class="cross-btn"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>


    }


    <div class=" single-cart-block ">
        <div class="btn-block">
            <a asp-action="index" asp-controller="basket" class="btn">
                View Cart <i class="fas fa-chevron-right"></i>
            </a>
            <a asp-action="checkout" asp-controller="order" class="btn btn--primary">
                Check Out <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>


}
</div>